In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
supplier_df =pd.read_csv(r"D:\Protfo;io- projects\Supply Chain\Suppliers.csv")
products_df =pd.read_csv(r"D:\Protfo;io- projects\Supply Chain\Products.csv")
orders_df= pd.read_csv(r"D:\Protfo;io- projects\Supply Chain\Orders.csv")
shipment_df= pd.read_csv(r"D:\Protfo;io- projects\Supply Chain\Shipments.csv")

In [3]:
supplier_df.head(2)
supplier_df.shape   # to check how many rows and columns are thier in dataset
supplier_df.isnull().sum()   # to check null values
supplier_df.duplicated().sum()  # to check duplicates

np.int64(0)

In [7]:
supplier_df.isnull().sum()

SupplierID      0
SupplierName    0
Country         0
LeadTimeDays    0
ContactEmail    0
dtype: int64

# Data Handing, Data Cleaning for Products Table

In [4]:
products_df.tail(2)

     ProductID  ProductName     Category SupplierID  UnitPriceUSD  StockLevel
1038     P0277  Product_277   Components       S021         90.04        4778
1039     P0037   Product_37  Controllers       S044         41.68        4954

In [5]:
products_df.shape
products_df.isnull().sum() / len(products_df)*100

ProductID       0.000000
ProductName     5.096154
Category        0.000000
SupplierID      0.000000
UnitPriceUSD    3.173077
StockLevel      0.000000
dtype: float64

In [8]:
products_df.dropna(subset=['UnitPriceUSD'], inplace=True)

In [7]:
products_df['ProductName'].fillna('Unknown Product', inplace=True)  # i filled NaN to Unknown Product

C:\Users\User\AppData\Local\Temp\ipykernel_28376\3890093623.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  products_df['ProductName'].fillna('Unknown Product', inplace=True)  # i filled NaN to Unknown Product

In [8]:
products_df=products_df.drop_duplicates()

In [9]:
products_df.isnull().sum()

ProductID       0
ProductName     0
Category        0
SupplierID      0
UnitPriceUSD    0
StockLevel      0
dtype: int64

# Data Handing, Data Cleaning for Orders Table

In [10]:
orders_df.isnull().sum() / len(orders_df)*100

OrderID        0.000000
OrderDate      0.000000
ProductID      0.000000
Quantity       3.719512
Warehouse      0.000000
OrderStatus    3.134146
dtype: float64

In [11]:
orders_df.shape

(8200, 6)

In [12]:
orders_df.duplicated().sum()
orders_df.drop_duplicates(subset=['OrderID', 'ProductID'], inplace=True)

In [13]:
orders_df.dropna(subset={'Quantity','OrderStatus'},inplace=True)

In [14]:
orders_df.isnull().sum()

OrderID        0
OrderDate      0
ProductID      0
Quantity       0
Warehouse      0
OrderStatus    0
dtype: int64

In [15]:
orders_df.head(2)

   OrderID   OrderDate ProductID  Quantity Warehouse OrderStatus
0  O000001  2024-06-24     P0040     103.0     Tokyo   Delivered
1  O000002  2024-05-11     P0464     436.0     Tokyo     Pending

# Data Handing, Data Cleaning for Shipment Table

In [4]:
shipment_df.head(2)

  ShipmentID  OrderID    ShipDate DeliveryDate ShippingMode  ShippingCostUSD
0   SH000001  O000001  2024-11-04   2024-11-13         Rail          1715.01
1   SH000002  O000002  2024-12-27          NaN  Air Freight           519.58

In [10]:
shipment_df.isnull().sum()

ShipmentID            0
OrderID               0
ShipDate              0
DeliveryDate       4973
ShippingMode          0
ShippingCostUSD       0
dtype: int64

In [12]:
shipment_df.head(10)

  ShipmentID  OrderID    ShipDate DeliveryDate ShippingMode  ShippingCostUSD
0   SH000001  O000001  2024-11-04   2024-11-13         Rail          1715.01
1   SH000002  O000002  2024-12-27          NaN  Air Freight           519.58
2   SH000003  O000003  2024-06-15   2024-07-12         Road            93.65
3   SH000004  O000004  2024-02-26   2024-03-12         Rail          1796.15
4   SH000005  O000005  2024-03-24   2024-04-13  Air Freight            85.69
5   SH000006  O000006  2024-02-03          NaN  Air Freight           900.22
6   SH000007  O000007  2024-08-08   2024-08-19         Rail          1043.81
7   SH000008  O000008  2024-08-27   2024-09-22         Rail           945.63
8   SH000009  O000009  2024-08-28          NaN         Road          1266.07
9   SH000010  O000010  2024-12-28   2025-01-14  Air Freight          1383.56

In [9]:
shipment_df.dropna(subset=['ShippingCostUSD'],inplace=True)

In [13]:
shipment_df['Delivered'] = shipment_df['DeliveryDate'].notna()
shipment_df['Delivered'].value_counts()

Delivered
False    4973
True     4528
Name: count, dtype: int64

In [14]:
shipment_df['DeliveryDate'] = pd.to_datetime(shipment_df['DeliveryDate'], errors='coerce')

In [21]:
shipment_df.head(2)

,ShipmentID,OrderID,ShipDate,DeliveryDate,ShippingMode,ShippingCostUSD,Delivered
0,SH000001,O000001,2024-11-04,2024-11-13,Rail,1715.01,True
1,SH000002,O000002,2024-12-27,NaT,Air Freight,519.58,False

In [15]:
shipment_df.isnull().sum()

ShipmentID            0
OrderID               0
ShipDate              0
DeliveryDate       4973
ShippingMode          0
ShippingCostUSD       0
Delivered             0
dtype: int64

In [23]:
shipment_df['Shipped'] = shipment_df['ShipDate'].notna()

In [24]:
shipment_df['Shipped'].value_counts()

Shipped
True     9501
False     499
Name: count, dtype: int64

In [25]:
# Export Products table
products_df.to_csv('Products_df.csv', index=False)

# Export Orders table
orders_df.to_csv('Orders_df.csv', index=False)

# Export Shipments table
shipment_df.to_csv('Shipments_df.csv', index=False)

# Export Suppliers table (if needed)
supplier_df.to_csv('Suppliers_df.csv', index=False)

In [26]:
products_df.to_csv('D:\\Protfo;io- projects\\Supply Chain\\Products_df.csv', index=False)
orders_df.to_csv('D:\\Protfo;io- projects\\Supply Chain\\Orders_df.csv', index=False)
shipment_df.to_csv('D:\\Protfo;io- projects\\Supply Chain\\Shipments_df.csv', index=False)
supplier_df.to_csv('D:\\Protfo;io- projects\\Supply Chain\\Suppliers_df.csv', index=False)

In [16]:
shipment_df.to_csv('Shipments_df.csv', index=False)

In [17]:
supplier_df.to_csv('D:\\Protfo;io- projects\\Supply Chain- Ecommerce\\Suppliers_df.csv', index=False)

In [18]:
shipment_df.to_csv('D:\\Protfo;io- projects\\Supply Chain- Ecommerce\\Shipments_df.csv', index=False)

In [20]:
shipment_df.head(2)

,ShipmentID,OrderID,ShipDate,DeliveryDate,ShippingMode,ShippingCostUSD,Delivered
0,SH000001,O000001,2024-11-04,2024-11-13,Rail,1715.01,True
1,SH000002,O000002,2024-12-27,NaT,Air Freight,519.58,False